<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<main>
    <h1>Welcome and imagepull works! log in:</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
    <a href="{{ url_for('signup') }}">Don't have a user? Sign Up</a>
</main>
</body>
</html>
