<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
    <h1>Hi {{username}} number of posts: <span id="postsNum">{{ postsNum }}</span> </h1>
    <h2>User Posts:</h2>
    <ul id="user_posts_list">
        {% for post in user_posts_list %}
            <li> 
                <div>
                    Title: {{ post.title }}<br>Content: {{ post.content }}
                </div>
                <button onclick="likePost('{{ post._id }}')">Like (likes: {{ post.likes | length }})</button>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('newPost') }}">
        <button>Create a post</button>
    </a>
    <a href="{{ url_for('allPosts') }}">
        <button>All posts</button>
    </a>
</main>
<script>
    function likePost(postId) {
        fetch('/likePost', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'post_id=' + encodeURIComponent(postId)
        })
        .then(response => response.text())
        .then(data => {
            if (data === 'success') {
                return fetch('/getUpdatedPosts');
            } else {
                throw new Error(data);
            }
        })
        .then(response => response.json())
        .then(data => {
            updatePageContent(data);
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error: ' + error.message);
        });
    }

    function updatePageContent(data) {
        const postsNumElement = document.getElementById('postsNum');
        postsNumElement.innerText = data.postsNum;

        const userPostsList = document.getElementById('user_posts_list');
        userPostsList.innerHTML = '';
        data.user_posts_list.forEach(post => {
            const listItem = document.createElement('li');
            listItem.innerHTML = `<div>Title: ${post.title}<br>Content: ${post.content}</div> <button onclick="likePost('${post._id}')">Like (${post.likes.length})</button>`;
            userPostsList.appendChild(listItem);
        });
    }
</script>
</body>
</html>
